@CHARSET "UTF-8";

.row{
	margin: 0;
	padding: 0;
}
/* **改写bootstrap** */
@media ( min-width : 768px) {
	.navbar {
		border-radius: 0;
	}
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0;
	border: 0px;
}

.navbar-default {
	background-color: #000;
}

.navbar-default .navbar-nav>li>a {
	color: #c0c0c0;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #c0c0c0;
	background-color: transparent;
}

.dropdown-menu {
	background-color: #000;
}

.dropdown-menu>li>a {
	color: #fff;
}

/* **改写bootstrap结束** */

/* **开始头部导航部分** */
.navbar-right li {
	font-size: 16px;
	line-height: 50px;
	color: #ffffff;
	cursor: pointer;
}

.navbar-right li a:hover {
	color: #ffffff;
}

.dropdown ul li {
	font-size: 16px;
	height: 40px;
	padding-top: 5px;
}

.dropdown-menu {
	min-width: 100px;
}

.dengluanniu li:nth-child(2) {
	padding-left: 10px;
}

/*  导航+注册登录     */
.checkbox {
	margin-left: 20px;
}

.btt {
	cursor: pointer;
	color: blue;
	background: white;
}

.btt:hover {
	color: blue;
	text-decoration: underline;
	background: white;
}

#font {
	margin-bottom: 5px;
}

.form-signin {
	max-width: 330px;
	padding: 30px 15px 30px 15px;
	margin: 0 auto;
}

.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.modal-body {
	padding-top: 0px;
	padding-bottom: 50px;
}

.form-signin input[type="text"] {
	margin-bottom: 14px;
	border-radius: 0;
	background: url(../images/login/login_user.png) 0 0 #d9d7d8 no-repeat;
	padding-left: 60px;
	color: #FFFFFF;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-radius: 0;
	background: url(../images/login/login_pas.png) 0 0 #d9d7d8 no-repeat;
	padding-left: 60px;
	color: #FFFFFF;
}

.form-signin button {
	border-radius: 0;
}
#username2{
	background: url(../images/login/yzm.jpg) 0 0 #d9d7d8 no-repeat;
}
/* **结束头部导航** */

/* **右侧固定** */
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

#box_float {
	float: left;
	position: relative;
	width: 250px;
	margin-top: 38px;
}

.div1 {
	width: 250px;
	border-left: 1px solid #eee;
}

.div1 h4 {
	padding-left: 20px;
	color: #ff8080;
	font-weight: bold;
	cursor: pointer;
}

.div1 h4:hover {
	text-decoration: underline;
}

.div1 span {
	color: #ff8080;
	cursor: pointer;
	margin-right: 5px;
}

.div1 a {
	color: #ff8080;
}

.div1 p {
	padding-left: 20px;
	color: #8f8f8f;
	font-family: sans-serif;
	cursor: pointer;
	font-family: sans-serif;
}

.div1 p:hover {
	text-decoration: underline;
}

.div1 hr {
	margin-left: 20px;
	cursor: pointer;
}

.div2 {
	position: fixed;
	_position: absolute;
	top: 0px;
	z-index: 999;
}
/* **结束右侧固定** */


/*顶部下拉列表样式*/
.dropdown-menu {
	min-width: 60px;
}

#drop {
	height: 25px;
	padding-top: 2px;
}

/*四模块*/
.breadcrumb li a {
	color: black;
}

.breadcrumb li a:hover {
	text-decoration: none;
	color: rgb(217, 83, 79)
}

/*顶部分页样式*/
#top_fenye input {
	float: left;
}

#top_fenye span {
	font-size: 16px;
	float: left;
	margin-top: 6px;
	margin-left: 5px;
	margin-right: 5px;
}

/*路径导航*/
.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #ccc;
	content: "|\00a0";
}

#users {
	padding-top: 20px;
}

#users #pic img {
	width: 60px;
	height: 60px;
	border-radius: 60px;
}

#username {
	width: 80px;
}

#username a {
	color: #a09e9e;;
}

/*用户分享文本省略号效果设置*/
#content {
	margin-left: -20px;
}

#content p {
	width: 490px;
	height: 30px;
	font-size: 18px;
	font-family: 微软雅黑;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 6px;
}

#content a {
	color: black;
}

#content a:hover {
	text-decoration: none;
	color: #b7b7b7;
}

#content span {
	width: 490px;
}

/* 第1个hover弹框 */
#content_1 {
	display: none;
}

#group_1:hover+#content_1 {
	display: block;
}

/* 第2个hover弹框 */
#content_2 {
	display: none;
}

#group_2:hover+#content_2 {
	display: block;
}
/*弹出框效果设置*/




/* **主页底部开始** */
.foot {
	background: #000;
	height: 270px;
	margin-top: 120px;
	padding-left: 40px;
}

.foot1 {
	padding-top: 20px;
}

.bbgg {
	list-style: none;
	margin-top: -10px;
	width: 80%;
}

.bbgg li {
	color: #c0c0c0;
	font-size: 15px;
	padding-top: 10px;
}

.bbggerweima li:nth-child(2) {
	margin-left: -15px;
}

.bbggerweima li:nth-child(3) {
	margin-left: 15px;
	padding-left: 30px;
}

.bbggerweima li:nth-child(3) p {
	width: 110px;
}

.bbgg li a {
	text-decoration: none;
	color: #c0c0c0;
}

.bbgg p {
	color: #c0c0c0;
	text-align: center;
}

.foot2 {
	padding: 10px 20px 10px 15px;
}

.dibubanquan2 {
	padding-left: 46px;
}

.dibubanquan3 {
	padding-left: 70px;
}

.foot2 font {
	line-height: 40px;
	color: #afafaf;
}

/* **主页底部结束** */

